.btn_agregar {
  font-size: 1rem !important;
  background-color: var(--principal-color) !important;
  color: var(--secondary-color) !important;
}

.agregar-p{
  font-size: 1rem !important;
  margin: 0 !important;
}

@media screen and (max-width: 768px) {
  .btn_agregar {
    font-size: 0.6rem !important;
  }
  .agregar-p{
    font-size: 0.5 !important;
    margin: 0 !important;
  }
  
}
